<template>
  <div class="container">
    <div v-if="isLoading">
      Loading
    </div>
    <div v-else class="row col-md-10 col-md-offset-1">
      <div>
        <!-- <h1> -->
          <!-- {{ crate.user.name }}
          <span
            v-if="crate.price"
            class="badge"
          >
            {{ crate.price | money }}
          </span>
        </h1>
        <img
          :src="imagesUrl + 'cases/' + crate.image"
          :alt="crate.title"
          class="opencase-crate-image"
        > -->
        <hr>
        <app-spin-roulette
          v-if="this.caseItems"
          :items="rouletteItems"
          :items-component="'app-opencase-item'"
          :index="index"
          :settings="rouletteSettings"
          :isSpinning="isSpinning"
          @spinned="finishSpin"
        >
        </app-spin-roulette>
        <br>
        <button
          :disabled="isSpinning"
          @click="startSpin"
          class="btn btn-info"
        >
          Spin!</button>
        <hr>
        <!-- <h3 class="text-center">
          Items you might get
        </h3>
          <div class="case-items">
            <app-inventory-item
              v-for="item in caseItems"
              :item="item"
              :mode="{ case: true, base: true }"
              :key="item.id"
              class="case-item col-md-5ths col-sm-3 col-xs-4"
            >
            </app-inventory-item>
            <app-inventory-item
              v-if="caseRare"
              :item="caseRare"
              :mode="{ case: true, base: true, rare: true }"
              class="case-item col-md-5ths col-sm-3 col-xs-4  "
            >
            </app-inventory-item>
          </div> -->

      <!-- <app-item-modal
        @modalClosed="isModalShown = false"
        :is-modal-shown="isModalShown"
        :item-pivot="wonItem"
        :is-new="true"
      > -->
      <!-- </app-item-modal> -->
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import axios from 'axios'
  import { mapGetters, mapActions } from 'vuex'
  import itemsColorMixin from './../../mixins/ItemsColors'
  import ItemModal from './../ItemModal.vue'
  import Loader from './../Loader.vue'
  import SpinRoulette from './../SpinRoulette.vue'
  import InventoryItem from './../Inventory/InventoryItem'

  export default {
    components: {
      'app-item-modal': ItemModal,
      'app-loader': Loader,
      'app-spin-roulette': SpinRoulette,
      'app-inventory-item': InventoryItem
    },

    mixins: [itemsColorMixin],

    data () {
      return {
        rouletteItems: [],
        isModalShown: false,
        wonItem: null,
        caseItems: null,
        caseRare: null,
        crate: null,
        isSpinning: false,
        rouletteSettings: {
          item: {
            width: 90,
            height: 100
          },
          roulette: {
            widthInItems: 8,
            spin: {
              time: 5000,
              delay: 500
            }
          }
        },
        isLoading: false,
        index: null
      }
    },

    created () {
      // axios.get(`http://muzzone.hikaro.space/public/api/participants/4`)
      // .then((response) => {
      //   this.caseItems = response.data
      //   this.crate = response.data
      // })
      // .catch((error) => {
      //   console.log(error)
      // })
      this.caseItems = JSON.parse(`[
        {
          "id":1,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":2,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":3,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":4,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":5,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":6,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":7,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":8,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":9,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":10,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":11,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":12,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":11,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":12,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":13,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":14,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":15,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":16,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":17,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":18,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":19,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":110,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":111,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        },
        {
          "id":112,
          "prize_id":4,
          "user_id":2,
          "place":null,
          "win":false,
          "created_at":"2020-09-21T02:25:38.000000Z",
          "updated_at":"2020-09-21T02:25:38.000000Z",
          "user":{
            "id":2,
            "name":"Admin",
            "email":"admin@admin.com",
            "avatar":"users\/2\/Kr2zYhvSHa7kVZrRTR7f39rm8mUqYxxiZSaKUspm.png",
            "email_verified_at":null,
            "address":"Almaty",
            "phone":"8(777)777-77-77",
            "birthday":"01\/01\/2001",
            "created_at":"2020-08-18T21:35:47.000000Z",
            "updated_at":"2020-09-02T23:11:49.000000Z",
            "role_id":1,
            "settings":{"locale":"ru"}
          }
        }
      ]`);
      this.rouletteItems = this.caseItems
    },

    computed: {
      ...mapGetters([
        'imagesUrl'
      ])
    },

    methods: {
      ...mapActions([
        'increaseUserBalance',
        'addItemToUser'
      ]),

      startSpin () {
        this.isLoading = true
        // axios.get(`/api/spin?type=${this.$route.params.type}&id=${this.$route.params.id}`)
        // .then((response) => {
          // setTimeout(() => {
            this.rouletteItems = this.caseItems
            // this.wonItem = this.rouletteItems[1]
            this.index = 1
            this.isLoading = false
            this.isSpinning = true
          // }, 5000);

        // })
        // .catch((error) => {
        //   console.log(error)
        // })
      },

      finishSpin () {
        this.isSpinning = false
        // this.isModalShown = true
        // this.addItemToUser(this.wonItem)
        // this.increaseUserBalance(this.wonItem.item.price)
      }
    }
  }
</script>

<style>
  .container {
    z-index: 5;
  }

  .case-item {
    user-select: none;
  }

  .case-item {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
  }

  /*.case-item {*/
    /*margin-right: 40px;*/
  /*}*/

  /*.case-item:nth-last-child(2) {*/
    /*margin-right: 0;*/
  /*}*/

  /*.case-item:nth-last-child(1) {*/
    /*margin-left: 40px;*/
  /*}*/

  .opencase-crate-image {
    height: 150px;
  }

  .piece {
    width: 10em; height: 8.66em;
    background: rgba(0,0,0,.5);
    transition: .5s;
    cursor: pointer;
  }
  .piece {
    position: relative;
    margin: 4em auto;
    transform: rotate(-30deg) skewX(30deg);
  }
  .piece:before, .piece:after {
    position: absolute;
    width: inherit; height: inherit;
    background: inherit;
    content: '';
  }
  .piece:before {
    left: 0;
    transform: skewX(-30deg) skewX(-30deg);
  }
  .piece:after {
    left: 0;
    transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
  }
  .piece:hover { background: rgba(255,0,0,.5); }

  .opencase-popup-image {
    width: 350px;
    position: relative;
  }

  .opencase-popup-star {
    font-size: 20em;
/*instead of standard fa-spin because of speed control*/
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 31%;
    left: 27%;
  }

  .opencase-popup-alert {
    font-weight: bold;
  }

  .popup-star {
    /*margin: 20px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #f00;*/

    /*animation-name: spin;*/
    /*animation-duration: 4000ms;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/
  }

  @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

  .wrapper {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    display: block;
    width: 195px;
    margin-top: -25px;
  }
</style>
